# A2_DataManagmentCartWheel

## Diego Partida Romero - A0164113

### Activity: work with the iris dataset

Repeat this tutorial with the iris data set and respond to the following inquiries

1. Calculate the statistical summary for each quantitative variables. Explain the results
    - Identify the name of each column
    - Identify the type of each column
    - Minimum, maximum, mean, average, median, standar deviation
    
2. Are there missing data? If so, create a new dataset containing only the rows with the non-missing data

3. Create a new dataset containing only the petal width and length and the type of Flower

4. Create a new dataset containing only the setal width and length and the type of Flower

5. Create a new dataset containing the setal width and length and the type of Flower encoded as a categorical numerical column

In [2]:
# Import pandas and load the file
import pandas as pd

# Load the iris.csv file
df = pd.read_csv('iris.csv')

# Display the dataframe
#print(df)

### 1. Calculate the statistical summary for each quantitative variables. Explain the results
    - Identify the name of each column
    - Identify the type of each column
    - Minimum, maximum, mean, average, median, standar deviation

In [3]:
df.describe()

       sepal_l (cm)  sepal_w (cm)  petal_l (cm)  petal_w (cm)
count    150.000000    150.000000    150.000000    150.000000
mean       5.843333      3.057333      3.758000      1.199333
std        0.828066      0.435866      1.765298      0.762238
min        4.300000      2.000000      1.000000      0.100000
25%        5.100000      2.800000      1.600000      0.300000
50%        5.800000      3.000000      4.350000      1.300000
75%        6.400000      3.300000      5.100000      1.800000
max        7.900000      4.400000      6.900000      2.500000

### 2. Are there missing data? If so, create a new dataset containing only the rows with the non-missing data

In [9]:
# 2. Are there missing data? If so, create a new dataset containing only the rows with the non-missing data

# Check for missing data
missing_data = df.isnull().sum()
print("Missing Data:")
print(missing_data)

# Create new dataset with non-missing data
cleaned_data = df.dropna()

Missing Data:
sepal_l (cm)    0
sepal_w (cm)    0
petal_l (cm)    0
petal_w (cm)    0
flower_type     0
dtype: int64

### 3. Create a new dataset containing only the petal width and length and the type of Flower

In [10]:
petal_data = df[['petal_l (cm)', 'petal_w (cm)', 'flower_type']]
print(petal_data.head())

     petal_w (cm)  petal_l (cm)     flower_type
0             0.2           1.4     Iris-setosa
1             0.2           1.4     Iris-setosa
2             0.2           1.3     Iris-setosa
3             0.2           1.5     Iris-setosa
4             0.2           1.4     Iris-setosa
..            ...           ...             ...
145           2.3           5.2  Iris-virginica
146           1.9           5.0  Iris-virginica
147           2.0           5.2  Iris-virginica
148           2.3           5.4  Iris-virginica
149           1.8           5.1  Iris-virginica

[150 rows x 3 columns]
   petal_l (cm)  petal_w (cm)  flower_type
0           1.4           0.2  Iris-setosa
1           1.4           0.2  Iris-setosa
2           1.3           0.2  Iris-setosa
3           1.5           0.2  Iris-setosa
4           1.4           0.2  Iris-setosa

### 4. Create a new dataset containing only the setal width and length and the type of Flower

In [11]:
sepal_data = df[['sepal_l (cm)', 'sepal_w (cm)', 'flower_type']]
print(sepal_data.head())

   sepal_l (cm)  sepal_w (cm)  flower_type
0           5.1           3.5  Iris-setosa
1           4.9           3.0  Iris-setosa
2           4.7           3.2  Iris-setosa
3           4.6           3.1  Iris-setosa
4           5.0           3.6  Iris-setosa

### 5. Create a new dataset containing the sepal width and length and the type of Flower encoded as a categorical numerical column

In [13]:
# Encode flower type as categorical numerical column
df['flower_type_encoded'] = pd.Categorical(df['flower_type']).codes

# Create new dataset with sepal width, sepal length, and encoded flower type
encoded_data = df[['sepal_l (cm)', 'sepal_w (cm)', 'flower_type_encoded']]
print(encoded_data.head())

   sepal_l (cm)  sepal_w (cm)  flower_type_encoded
0           5.1           3.5                    0
1           4.9           3.0                    0
2           4.7           3.2                    0
3           4.6           3.1                    0
4           5.0           3.6                    0