# importar librerias

In [2]:

import pandas as pd

file_path = '../../NotebooksProfessor/cartwheel/cartwheel.csv'
df = pd.read_csv(file_path)

# Explorar dataframe

In [3]:

df.shape

(52, 12)

In [8]:

# Display the first few rows of the DataFrame
print(df.head(3))

   ID   Age Gender  GenderGroup Glasses  GlassesGroup  Height  Wingspan  \
0   1  56.0      F            1       Y             1    62.0      61.0
1   2  26.0      F            1       Y             1    62.0      60.0
2   3  33.0      F            1       Y             1    66.0      64.0

   CWDistance Complete  CompleteGroup  Score
0          79        Y            1.0      7
1          70        Y            1.0      8
2          85        Y            1.0      7

In [5]:

# Check for missing values in the DataFrame
print(df.isnull().sum())

ID               0
Age              1
Gender           0
GenderGroup      0
Glasses          0
GlassesGroup     0
Height           1
Wingspan         1
CWDistance       0
Complete         0
CompleteGroup    1
Score            0
dtype: int64

In [6]:

# Display the data types of each column
print(df.dtypes)

# Display the unique values in the 'Gender' column
print(df['Gender'].unique())

ID                 int64
Age              float64
Gender            object
GenderGroup        int64
Glasses           object
GlassesGroup       int64
Height           float64
Wingspan         float64
CWDistance         int64
Complete          object
CompleteGroup    float64
Score              int64
dtype: object
['F' 'M']

# Datos Estad√≠sticos

In [7]:

# Display summary statistics for numerical columns
print(df.describe())

              ID        Age  GenderGroup  GlassesGroup     Height   Wingspan  \
count  52.000000  51.000000    52.000000     52.000000  51.000000  51.000000
mean   26.500000  28.411765     1.500000      0.500000  68.971569  67.313725
std    15.154757   5.755611     0.504878      0.504878   5.303812   5.624021
min     1.000000  22.000000     1.000000      0.000000  61.500000  57.500000
25%    13.750000  25.000000     1.000000      0.000000  64.500000  63.000000
50%    26.500000  27.000000     1.500000      0.500000  69.000000  66.000000
75%    39.250000  30.000000     2.000000      1.000000  73.000000  72.000000
max    52.000000  56.000000     2.000000      1.000000  79.500000  76.000000

       CWDistance  CompleteGroup      Score
count   52.000000      51.000000  52.000000
mean    85.576923       0.843137   7.173077
std     14.353173       0.367290   2.211566
min     63.000000       0.000000   2.000000
25%     72.000000       1.000000   6.000000
50%     85.000000       1.000000   8.000000
75%     96.500000       1.000000   9.000000
max    115.000000       1.000000  10.000000