Ana Karen Zetter Márquez A01637124

# Undertanding the cartwheel data set

The notebook aims to undertand the content of the cartwheel data set.


## Acknowledgments

- Data from https://www.coursera.org/ from the course "Understanding and Visualizing Data with Python" by University of Michigan

# Cartwheel data set

1. A cartwheel

![cartwheel1.png](https://drive.google.com/uc?export=view&id=1h6CbMZX9wtRIbxpREgHSLY5IKTEqq6l6)




2. The dataset description
    - The dataset used here is an extension from the original cartwheel dataset from cursera
    - Total numer of observations: 28
    - Many observations/measurements/recordings of the characteristics/attributes/variables of cartwheel executions
    - Variables: Age, Gender, GenderGroup, Glasses, GlassesGroup, Height, Wingspan, CWDistance, ... (X variables)

# Importing and inspecting the data

In [132]:
# Define where you are running the code: colab or local
RunInColab          = True     # (False: no  | True: yes)

# If running in colab:
if RunInColab:
    # Mount your google drive in google colab
    from google.colab import drive
    drive.mount('/content/drive')

    # Find location
    #!pwd
    #!ls
    #!ls "/content/drive/My Drive/Colab Notebooks/MachineLearningWithPython/"

    # Define path del proyecto
    Ruta            = "/content/drive/My Drive/Colab Notebooks/MachineLearningWithPython/"

else:
    # Define path del proyecto
    Ruta            = "/content/drive/My Drive/Colab Notebooks/MachineLearningWithPython/"

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [133]:
# Import the packages that we will be using
import pandas as pd

# Dataset url
file_path = '/content/drive/MyDrive/Profesional/Semestre 5/Análisis de datos/cartwheel.csv'

# Load the dataset
df = pd.read_csv(file_path)

In [134]:
# Print the dataset
print(df)

    ID   Age Gender  GenderGroup Glasses  GlassesGroup  Height  Wingspan  \
0    1  56.0      F            1       Y             1   62.00      61.0
1    2  26.0      F            1       Y             1   62.00      60.0
2    3  33.0      F            1       Y             1   66.00      64.0
3    4  39.0      F            1       N             0   64.00      63.0
4    5  27.0      M            2       N             0   73.00      75.0
5    6  24.0      M            2       N             0   75.00      71.0
6    7  28.0      M            2       N             0   75.00      76.0
7    8  22.0      F            1       N             0   65.00      62.0
8    9  29.0      M            2       Y             1   74.00      73.0
9   10  33.0      F            1       Y             1   63.00      60.0
10  11  30.0      M            2       Y             1   69.50      66.0
11  12  28.0      F            1       Y             1   62.75      58.0
12  13  25.0      F            1       Y             1   65.00      64.5
13  14  23.0      F            1       N             0   61.50      57.5
14  15  31.0      M            2       Y             1   73.00      74.0
15  16  26.0      M            2       Y             1   71.00      72.0
16  17  26.0      F            1       N             0   61.50      59.5
17  18  27.0      M            2       N             0   66.00      66.0
18  19  23.0      M            2       Y             1   70.00      69.0
19  20  24.0      F            1       Y             1   68.00      66.0
20  21  23.0      M            2       Y             1   69.00      67.0
21  22  29.0      M            2       N             0   71.00      70.0
22  23  25.0      M            2       N             0   70.00      68.0
23  24  26.0      M            2       N             0   69.00      71.0
24  25  23.0      F            1       Y             1   65.00      63.0
25  26  28.0      M            2       N             0   75.00      76.0
26  27  24.0      M            2       N             0   78.40      71.0
27  28  25.0      M            2       Y             1   76.00      73.0
28  29  32.0      F            1       Y             1   63.00      60.0
29  30  38.0      F            1       Y             1   61.50      61.0
30  31  27.0      F            1       Y             1   62.00      60.0
31  32  33.0      F            1       Y             1   65.30      64.0
32  33  38.0      F            1       N             0   64.00      63.0
33  34  27.0      M            2       N             0   77.00      75.0
34  35  24.0      F            1       N             0   67.80      62.0
35  36  27.0      M            2       N             0   68.00      66.0
36  37  25.0      F            1       Y             1   65.00      64.5
37  38  26.0      F            1       N             0   61.50      59.5
38  39  31.0      M            2       Y             1   73.00      74.0
39  40  30.0      M            2       Y             1   69.50      66.0
40  41  23.0      F            1       N             0   70.40      71.0
41  42  26.0      M            2       Y             1   73.50      72.0
42  43  28.0      F            1       Y             1   72.50      72.0
43  44  26.0      F            1       Y             1   72.00      72.0
44  45  30.0      F            1       Y             1   66.00      64.0
45  46  39.0      F            1       N             0   64.00      63.0
46  47  27.0      M            2       N             0   78.00      75.0
47  48  24.0      M            2       N             0   79.50      75.0
48  49  28.0      M            2       N             0   77.80      76.0
49  50  30.0      F            1       N             0   74.60       NaN
50  51   NaN      M            2       N             0   71.00      70.0
51  52  27.0      M            2       N             0     NaN      71.5

    CWDistance Complete  CompleteGroup  Score
0           79        Y            1.0      7
1           70        Y            1.0      8
2           85        Y            1.0      7
3           87        Y            1.0     10
4           72        N            0.0      4
5           81        N            0.0      3
6          107        Y            1.0     10
7           98        Y            1.0      9
8          106        N            0.0      5
9           65        Y            1.0      8
10          96        Y            1.0      6
11          79        Y            1.0     10
12          92        Y            1.0      6
13          66        Y            1.0      4
14          72        Y            1.0      9
15         115        Y            1.0      6
16          90        N            0.0     10
17          74        Y            1.0      5
18          64        Y            1.0      3
19          85        Y            1.0      8
20          66        N            0.0      2
21         101        Y            1.0      8
22          82        Y            1.0      4
23          63        Y            1.0      5
24          67        N            0.0      3
25         111        Y            1.0     10
26          92        Y            1.0      7
27         107        Y            1.0      8
28          75        Y            1.0      8
29          78        Y            1.0      7
30          72        Y            1.0      8
31          91        Y            1.0      7
32          86        Y            1.0     10
33         100        Y            1.0      8
34          98        Y            1.0      9
35          74        Y            1.0      5
36          92        Y            1.0      6
37          90        Y            1.0      9
38          72        Y            1.0      9
39          96        Y            1.0      6
40          66        Y            1.0      4
41         115        Y            1.0      6
42          81        Y            1.0     10
43          92        Y            1.0      8
44          85        Y            1.0      7
45          87        Y            1.0     10
46          72        N            0.0      7
47          82        N            0.0      8
48          99        Y            1.0      9
49          71        Y            1.0      9
50         101        Y            NaN      8
51         103        Y            1.0     10

In [135]:
df

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
0,1,56.0,F,1,Y,1,62.00,61.0,79,Y,1.0,7
1,2,26.0,F,1,Y,1,62.00,60.0,70,Y,1.0,8
2,3,33.0,F,1,Y,1,66.00,64.0,85,Y,1.0,7
3,4,39.0,F,1,N,0,64.00,63.0,87,Y,1.0,10
4,5,27.0,M,2,N,0,73.00,75.0,72,N,0.0,4
5,6,24.0,M,2,N,0,75.00,71.0,81,N,0.0,3
6,7,28.0,M,2,N,0,75.00,76.0,107,Y,1.0,10
7,8,22.0,F,1,N,0,65.00,62.0,98,Y,1.0,9
8,9,29.0,M,2,Y,1,74.00,73.0,106,N,0.0,5
9,10,33.0,F,1,Y,1,63.00,60.0,65,Y,1.0,8
10,11,30.0,M,2,Y,1,69.50,66.0,96,Y,1.0,6
11,12,28.0,F,1,Y,1,62.75,58.0,79,Y,1.0,10
12,13,25.0,F,1,Y,1,65.00,64.5,92,Y,1.0,6
13,14,23.0,F,1,N,0,61.50,57.5,66,Y,1.0,4
14,15,31.0,M,2,Y,1,73.00,74.0,72,Y,1.0,9
15,16,26.0,M,2,Y,1,71.00,72.0,115,Y,1.0,6
16,17,26.0,F,1,N,0,61.50,59.5,90,N,0.0,10
17,18,27.0,M,2,N,0,66.00,66.0,74,Y,1.0,5
18,19,23.0,M,2,Y,1,70.00,69.0,64,Y,1.0,3
19,20,24.0,F,1,Y,1,68.00,66.0,85,Y,1.0,8
20,21,23.0,M,2,Y,1,69.00,67.0,66,N,0.0,2
21,22,29.0,M,2,N,0,71.00,70.0,101,Y,1.0,8
22,23,25.0,M,2,N,0,70.00,68.0,82,Y,1.0,4
23,24,26.0,M,2,N,0,69.00,71.0,63,Y,1.0,5
24,25,23.0,F,1,Y,1,65.00,63.0,67,N,0.0,3
25,26,28.0,M,2,N,0,75.00,76.0,111,Y,1.0,10
26,27,24.0,M,2,N,0,78.40,71.0,92,Y,1.0,7
27,28,25.0,M,2,Y,1,76.00,73.0,107,Y,1.0,8
28,29,32.0,F,1,Y,1,63.00,60.0,75,Y,1.0,8
29,30,38.0,F,1,Y,1,61.50,61.0,78,Y,1.0,7
30,31,27.0,F,1,Y,1,62.00,60.0,72,Y,1.0,8
31,32,33.0,F,1,Y,1,65.30,64.0,91,Y,1.0,7
32,33,38.0,F,1,N,0,64.00,63.0,86,Y,1.0,10
33,34,27.0,M,2,N,0,77.00,75.0,100,Y,1.0,8
34,35,24.0,F,1,N,0,67.80,62.0,98,Y,1.0,9
35,36,27.0,M,2,N,0,68.00,66.0,74,Y,1.0,5
36,37,25.0,F,1,Y,1,65.00,64.5,92,Y,1.0,6
37,38,26.0,F,1,N,0,61.50,59.5,90,Y,1.0,9
38,39,31.0,M,2,Y,1,73.00,74.0,72,Y,1.0,9
39,40,30.0,M,2,Y,1,69.50,66.0,96,Y,1.0,6
40,41,23.0,F,1,N,0,70.40,71.0,66,Y,1.0,4
41,42,26.0,M,2,Y,1,73.50,72.0,115,Y,1.0,6
42,43,28.0,F,1,Y,1,72.50,72.0,81,Y,1.0,10
43,44,26.0,F,1,Y,1,72.00,72.0,92,Y,1.0,8
44,45,30.0,F,1,Y,1,66.00,64.0,85,Y,1.0,7
45,46,39.0,F,1,N,0,64.00,63.0,87,Y,1.0,10
46,47,27.0,M,2,N,0,78.00,75.0,72,N,0.0,7
47,48,24.0,M,2,N,0,79.50,75.0,82,N,0.0,8
48,49,28.0,M,2,N,0,77.80,76.0,99,Y,1.0,9
49,50,30.0,F,1,N,0,74.60,NaN,71,Y,1.0,9
50,51,NaN,M,2,N,0,71.00,70.0,101,Y,NaN,8
51,52,27.0,M,2,N,0,NaN,71.5,103,Y,1.0,10

In [136]:
df.describe()

,ID,Age,GenderGroup,GlassesGroup,Height,Wingspan,CWDistance,CompleteGroup,Score
count,52.000000,51.000000,52.000000,52.000000,51.000000,51.000000,52.000000,51.000000,52.000000
mean,26.500000,28.411765,1.500000,0.500000,68.971569,67.313725,85.576923,0.843137,7.173077
std,15.154757,5.755611,0.504878,0.504878,5.303812,5.624021,14.353173,0.367290,2.211566
min,1.000000,22.000000,1.000000,0.000000,61.500000,57.500000,63.000000,0.000000,2.000000
25%,13.750000,25.000000,1.000000,0.000000,64.500000,63.000000,72.000000,1.000000,6.000000
50%,26.500000,27.000000,1.500000,0.500000,69.000000,66.000000,85.000000,1.000000,8.000000
75%,39.250000,30.000000,2.000000,1.000000,73.000000,72.000000,96.500000,1.000000,9.000000
max,52.000000,56.000000,2.000000,1.000000,79.500000,76.000000,115.000000,1.000000,10.000000

In [137]:
df.isnull().sum()

ID               0
Age              1
Gender           0
GenderGroup      0
Glasses          0
GlassesGroup     0
Height           1
Wingspan         1
CWDistance       0
Complete         0
CompleteGroup    1
Score            0
dtype: int64

In [138]:
# Print the number of rows
df.shape[0]

52

In [139]:
# Print the number of columns
df.shape[1]

12

# Data types

In [140]:
df.dtypes

ID                 int64
Age              float64
Gender            object
GenderGroup        int64
Glasses           object
GlassesGroup       int64
Height           float64
Wingspan         float64
CWDistance         int64
Complete          object
CompleteGroup    float64
Score              int64
dtype: object

# Activity: work with the iris dataset

1. Load the iris.csv file in your computer and understand the dataset


2. How many observations (rows) are in total?


3. How many variables (columns) are in total? What do they represent?


4. How many observations are for each type of flower?


5. What is the type of data for each variable?


6. What are the units of each variable?

In [141]:
#Load the iris.csv file in your computer and understand the dataset

In [142]:
# Define the col names for the iris dataset
columns = ['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Species']

# Dataset url
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

# Load the dataset
df = pd.read_csv(url, header=None, names=columns)

In [143]:
df.head(20)

    SepalLength  SepalWidth  PetalLength  PetalWidth      Species
0           5.1         3.5          1.4         0.2  Iris-setosa
1           4.9         3.0          1.4         0.2  Iris-setosa
2           4.7         3.2          1.3         0.2  Iris-setosa
3           4.6         3.1          1.5         0.2  Iris-setosa
4           5.0         3.6          1.4         0.2  Iris-setosa
5           5.4         3.9          1.7         0.4  Iris-setosa
6           4.6         3.4          1.4         0.3  Iris-setosa
7           5.0         3.4          1.5         0.2  Iris-setosa
8           4.4         2.9          1.4         0.2  Iris-setosa
9           4.9         3.1          1.5         0.1  Iris-setosa
10          5.4         3.7          1.5         0.2  Iris-setosa
11          4.8         3.4          1.6         0.2  Iris-setosa
12          4.8         3.0          1.4         0.1  Iris-setosa
13          4.3         3.0          1.1         0.1  Iris-setosa
14          5.8         4.0          1.2         0.2  Iris-setosa
15          5.7         4.4          1.5         0.4  Iris-setosa
16          5.4         3.9          1.3         0.4  Iris-setosa
17          5.1         3.5          1.4         0.3  Iris-setosa
18          5.7         3.8          1.7         0.3  Iris-setosa
19          5.1         3.8          1.5         0.3  Iris-setosa

In [144]:
df.describe()

       SepalLength  SepalWidth  PetalLength  PetalWidth
count   150.000000  150.000000   150.000000  150.000000
mean      5.843333    3.054000     3.758667    1.198667
std       0.828066    0.433594     1.764420    0.763161
min       4.300000    2.000000     1.000000    0.100000
25%       5.100000    2.800000     1.600000    0.300000
50%       5.800000    3.000000     4.350000    1.300000
75%       6.400000    3.300000     5.100000    1.800000
max       7.900000    4.400000     6.900000    2.500000

In [145]:
df.isnull().sum()

SepalLength    0
SepalWidth     0
PetalLength    0
PetalWidth     0
Species        0
dtype: int64

In [146]:
#How many observations (rows) are in total?
df.shape[0]
#150 rows in total

150

In [147]:
#How many variables (columns) are in total? What do they represent?
df.shape[1]
#5 rows in total
#4 variable represent measures (width and length) of parts of the flower
##2 are measures of the sepal, 2 are measures of the petal
#1 variable represents the type of flower

5

In [148]:
#How many observations are there for each type of flower?
observations_species = df.groupby('Species').size()
print(observations_species)
#50 for each

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
dtype: int64

In [149]:
#What is the type of data for each variable?

In [150]:
df.dtypes

SepalLength    float64
SepalWidth     float64
PetalLength    float64
PetalWidth     float64
Species         object
dtype: object

In [151]:
###What are the units of each variable?
#cm for SepalLength, SepalWidth, PetalLength, PetalWidth
#Species is categorical so no units in particular