#Leer Datos con Pandas

El objetivo de este notebook es leer el archivo de datos .csv con la informaci√≥n del dataset

#Definiciones

#Import libraries

In [8]:
#Import packages
import pandas as pd

In [2]:
#Montar Drive
from google.colab import drive

#Mount the Google Drive at /content/drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
!ls drive/MyDrive/Data/

cartwheel.csv

#Leer datos

In [12]:
#Lectura de los datos.
file_path = '/content/drive/MyDrive/Data/cartwheel.csv'

#Read the CSV file into a pandas Dataframe

df = pd.read_csv(file_path)

In [14]:
#Get number of rows
NRows = df.shape[0]

#Print the number of rows
print('The number of rows is: ' + str(NRows))

The number of rows is: 52

In [16]:
#Get number of columns
NColumns = df.shape[1]

#Print the number of columns
print('The number of columns is: ' + str(NColumns))

The number of columns is: 12

In [17]:
#Print name of columns

df.columns

Index(['ID', 'Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup',
       'Height', 'Wingspan', 'CWDistance', 'Complete', 'CompleteGroup',
       'Score'],
      dtype='object')

In [18]:
#Obtener data sobre una columna
df.Gender

0     F
1     F
2     F
3     F
4     M
5     M
6     M
7     F
8     M
9     F
10    M
11    F
12    F
13    F
14    M
15    M
16    F
17    M
18    M
19    F
20    M
21    M
22    M
23    M
24    F
25    M
26    M
27    M
28    F
29    F
30    F
31    F
32    F
33    M
34    F
35    M
36    F
37    F
38    M
39    M
40    F
41    M
42    F
43    F
44    F
45    F
46    M
47    M
48    M
49    F
50    M
51    M
Name: Gender, dtype: object

In [19]:
#Obtener un dataframe con algunas columnas

df2 = df[['Age','Height','Wingspan','CWDistance']]
df2

     Age  Height  Wingspan  CWDistance
0   56.0   62.00      61.0          79
1   26.0   62.00      60.0          70
2   33.0   66.00      64.0          85
3   39.0   64.00      63.0          87
4   27.0   73.00      75.0          72
5   24.0   75.00      71.0          81
6   28.0   75.00      76.0         107
7   22.0   65.00      62.0          98
8   29.0   74.00      73.0         106
9   33.0   63.00      60.0          65
10  30.0   69.50      66.0          96
11  28.0   62.75      58.0          79
12  25.0   65.00      64.5          92
13  23.0   61.50      57.5          66
14  31.0   73.00      74.0          72
15  26.0   71.00      72.0         115
16  26.0   61.50      59.5          90
17  27.0   66.00      66.0          74
18  23.0   70.00      69.0          64
19  24.0   68.00      66.0          85
20  23.0   69.00      67.0          66
21  29.0   71.00      70.0         101
22  25.0   70.00      68.0          82
23  26.0   69.00      71.0          63
24  23.0   65.00      63.0          67
25  28.0   75.00      76.0         111
26  24.0   78.40      71.0          92
27  25.0   76.00      73.0         107
28  32.0   63.00      60.0          75
29  38.0   61.50      61.0          78
30  27.0   62.00      60.0          72
31  33.0   65.30      64.0          91
32  38.0   64.00      63.0          86
33  27.0   77.00      75.0         100
34  24.0   67.80      62.0          98
35  27.0   68.00      66.0          74
36  25.0   65.00      64.5          92
37  26.0   61.50      59.5          90
38  31.0   73.00      74.0          72
39  30.0   69.50      66.0          96
40  23.0   70.40      71.0          66
41  26.0   73.50      72.0         115
42  28.0   72.50      72.0          81
43  26.0   72.00      72.0          92
44  30.0   66.00      64.0          85
45  39.0   64.00      63.0          87
46  27.0   78.00      75.0          72
47  24.0   79.50      75.0          82
48  28.0   77.80      76.0          99
49  30.0   74.60       NaN          71
50   NaN   71.00      70.0         101
51  27.0     NaN      71.5         103

#Estadistica de las variables

In [23]:
#Get Means
meanAge = df['Age'].mean()
meanAge

28.41176470588235

In [24]:
#Get Median
medHeight = df['Height'].median()
medHeight

69.0