Roxana Aranda
A01613911

In [5]:
import pandas as pd

1. Load the iris.csv file in your computer and understand the dataset

In [6]:
iris_url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

# Cargar el dataset directamente desde la URL
df = pd.read_csv(iris_url, header=None)

# Definir los nombres de las columnas
attributes = ["sepal_length", "sepal_width", "petal_length", "petal_width", "species"]
df.columns = attributes

Check if the dataset was loaded correctly

In [7]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

2. How many observations (rows) are in total?

In [10]:
row= df.shape[0]
print('Total of observations(rows): '+ str(row))

The total of observations is: 150

3. How many variables (columns) are in total? What do they represent?

In [13]:
column= df.shape[1]
print('Total of variables(columns): '+ str(column))

Total of variables(columns): 5

In [17]:
print('Each column/variable represents:' )
for column in df.columns:
    print(column)

Each column/variable represents:
sepal_length
sepal_width
petal_length
petal_width
species

4. How many observations are for each type of flower?

In [18]:
flower_counts = df['species'].value_counts()
print(flower_counts)

species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

5. What is the type of data for each variable?

In [20]:
df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

6. What are the units of each variable?

All of the measurements (length and width) are given in centimeters. The 'species' variable is a label and does not have a unit.