Roxana Aranda
A01613911

# A1 Activities

In [14]:
import pandas as pd

A1.1. Load the iris.csv file in your computer and understand the dataset

In [15]:
iris_url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

# Cargar el dataset directamente desde la URL
df = pd.read_csv(iris_url, header=None)

# Definir los nombres de las columnas
attributes = ["sepal_length", "sepal_width", "petal_length", "petal_width", "species"]
df.columns = attributes

Check if the dataset was loaded correctly

In [16]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

A1.2. How many observations (rows) are in total?

In [17]:
row= df.shape[0]
print('Total of observations(rows): '+ str(row))

Total of observations(rows): 150

A1.3. How many variables (columns) are in total? What do they represent?

In [18]:
column= df.shape[1]
print('Total of variables(columns): '+ str(column))

Total of variables(columns): 5

In [19]:
print('Each column/variable represents:' )
for column in df.columns:
    print(column)

Each column/variable represents:
sepal_length
sepal_width
petal_length
petal_width
species

A1.4. How many observations are for each type of flower?

In [20]:
flower_counts = df['species'].value_counts()
print(flower_counts)

species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

A1.5. What is the type of data for each variable?

In [21]:
df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

A1.6. What are the units of each variable?

All of the measurements (length and width) are given in centimeters. The 'species' variable is a label and does not have a unit.

# A2 Activities

1. Calculate the statistical summary for each quantitative variables. Explain the results
    - Identify the name of each column
    - Identify the type of each column 
    - Minimum, maximum, mean, average, median, standar deviation

In [24]:
print("Name of each column ")
name = df.columns
print(name)

Name of each column
Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [25]:
print("Type of each column ")
tipo = df.dtypes
print(tipo)

Type of each column
sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [26]:
print("Minimum, maximum, mean, average, median, standar deviation ")
df.describe()

Minimum, maximum, mean, average, median, standar deviation

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

We can conclude several things from this description of the data. Firstly, the data is complete, it is most certainly that there's not a Null space; next is that the  mean of sepal length is the one with the most longitude in the flowers. The petal width is the part of the flower that is small on the species.

In [27]:
df.species.describe()

count             150
unique              3
top       Iris-setosa
freq               50
Name: species, dtype: object

Theres the types of flowers, and the one with the most Frequency is the 'Iris-setosa'; or atleast thats what the command says, but in reality all the species have the same Frequency, so we should investigate further in the reason for this.

2. Are there missing data? If so, create a new dataset containing only the rows with the non-missing data

In [29]:
print("No data is missing")
df.isnull().sum()

No data is missing

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

3. Create a new dataset containing only the petal width and length and the type of Flower

In [33]:
keep = ['petal_length','petal_width','species']
df_petal = df[keep]
df_petal.head()

   petal_length  petal_width      species
0           1.4          0.2  Iris-setosa
1           1.4          0.2  Iris-setosa
2           1.3          0.2  Iris-setosa
3           1.5          0.2  Iris-setosa
4           1.4          0.2  Iris-setosa

4. Create a new dataset containing only the sepal width and length and the type of Flower

In [35]:
kep = ['sepal_length','sepal_width','species']
df_sepal = df[kep]
df_sepal.head()

   sepal_length  sepal_width      species
0           5.1          3.5  Iris-setosa
1           4.9          3.0  Iris-setosa
2           4.7          3.2  Iris-setosa
3           4.6          3.1  Iris-setosa
4           5.0          3.6  Iris-setosa

5. Create a new dataset containing the setal width and length and the type of Flower encoded as a categorical numerical column

In [44]:
from sklearn.preprocessing import LabelEncoder

new_df = df[['sepal_length', 'sepal_width', 'species']].copy()

# Codificar la variable categórica 'species' en una columna numérica
label_encoder = LabelEncoder()
new_df['species_encoded'] = label_encoder.fit_transform(new_df['species'])

new_df.head()

   sepal_length  sepal_width      species  species_encoded
0           5.1          3.5  Iris-setosa                0
1           4.9          3.0  Iris-setosa                0
2           4.7          3.2  Iris-setosa                0
3           4.6          3.1  Iris-setosa                0
4           5.0          3.6  Iris-setosa                0