# Undertanding the cartwheel data set

The notebook aims to undertand the content of the cartwheel data set.


## Acknowledgments

- Data from https://www.coursera.org/ from the course "Understanding and Visualizing Data with Python" by University of Michigan

# Cartwheel data set

1. A cartwheel

![cartwheel1.png](datasets/cartwheel/cartwheel1.png)

2. The dataset description
    - The dataset used here is an extension from the original cartwheel dataset from cursera
    - Total numer of observations: 28
    - Many observations/measurements/recordings of the characteristics/attributes/variables of cartwheel executions
    - Variables: Age, Gender, GenderGroup, Glasses, GlassesGroup, Height, Wingspan, CWDistance, ... (X variables)

# Importing and inspecting the data

In [128]:
# Import the packages that we will be using
import pandas as pd
# Dataset url
_cartwheel_src_ = "datasets/cartwheel/cartwheel.csv"
# Load the dataset
cartwheel_data = pd.read_csv(_cartwheel_src_)

In [129]:
# Print the dataset
cartwheel_data.head()

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
0,1,56.0,F,1,Y,1,62.0,61.0,79,Y,1.0,7
1,2,26.0,F,1,Y,1,62.0,60.0,70,Y,1.0,8
2,3,33.0,F,1,Y,1,66.0,64.0,85,Y,1.0,7
3,4,39.0,F,1,N,0,64.0,63.0,87,Y,1.0,10
4,5,27.0,M,2,N,0,73.0,75.0,72,N,0.0,4

In [130]:
# Print the number of rows
cartwheel_data.shape[0]

52

In [131]:
# Print the number of columns
cartwheel_data.shape[1]

12

# Activity: work with the iris dataset

1. Load the iris.csv file in your computer and understand the dataset

In [132]:
#Load IRIS csv from file
_irs_src_ = "datasets/iris/iris.csv"
# We can see this in iris.names
"""7. Attribute Information:
   1. sepal length in cm
   2. sepal width in cm
   3. petal length in cm
   4. petal width in cm
   5. class: 
      -- Iris Setosa
      -- Iris Versicolour
      -- Iris Virginica
"""
#We can add this to our table
iris_columns = ["sepal length", "sepal width", "petal length", "petal width", "class"]
iris_data = pd.read_csv(_irs_src_, names=iris_columns)

2. How many observations (rows) are in total?
3. How many variables (columns) are in total? What do they represent?

In [133]:
rows = iris_data.shape[0]
columns = iris_data.shape[1]

print("rows", rows)
print("columns", columns)

rows 150
columns 5

4. How many observations are for each type of flower?

In [135]:
iris_data["class"].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: class, dtype: int64

5. What is the type of data for each variable?

In [141]:
# We can see the type using the dtypes atribute of the data frame
iris_data.dtypes

sepal length    float64
sepal width     float64
petal length    float64
petal width     float64
class            object
dtype: object

We can corroborate this is iris.names

```
Number of Attributes: 4 numeric, predictive attributes and the class
```

6. What are the units of each variable?

For this, we refer to iris.names
```
Attribute Information:
   1. sepal length in cm
   2. sepal width in cm
   3. petal length in cm
   4. petal width in cm
   5. class: 
      -- Iris Setosa
      -- Iris Versicolour
      -- Iris Virginica
```