# Visualizing Data in Python

When working with a new dataset, one of the most useful things to do is to begin to visualize the data. By using **tables**, **histograms**, **boxplots**, **scatter plots** and other visual tools, we can get a better idea of what the data may be trying to tell us, and we can gain insights into the data that we may have not discovered otherwise.

In this notebook will use the [Seaborn](https://seaborn.pydata.org/) data processing library, which is a higher-level interface to **Matplotlib** that can be used to simplify many visualization tasks 

The **Seaborn** provides visualisations tools that will allow to explore data from a graphical perspective. 


## Acknowledgments

- Data from https://www.coursera.org/ from the course "Understanding and Visualizing Data with Python" by University of Michigan

# Importing libraries

In [2]:
# Import the packages that we will be using
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Importing data

In [3]:
# Define where you are running the code: colab or local
RunInColab          = True     # (False: no  | True: yes)

# If running in colab:
if RunInColab:
    # Mount your google drive in google colab
    from google.colab import drive
    drive.mount('/content/drive')

    # Find location
    #!pwd
    #!ls
    #!ls "/content/drive/My Drive/Colab Notebooks/MachineLearningWithPython/"

    # Define path del proyecto
    Ruta            = "/content/drive/My Drive/Colab Notebooks/TC1002S/NotebooksProfessor/"

else:
    # Define path del proyecto
    Ruta            = ""

Mounted at /content/drive

In [4]:
# url string that hosts our .csv file
url = Ruta + "datasets/cartwheel/cartwheel.csv"

# Read the .csv file and store it as a pandas Data Frame
df  = pd.read_csv(url)

# Exploring the content of the data set

Get a general 'feel' of the data

In [5]:
df.head(5)

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
0,1,56.0,F,1,Y,1,62.0,61.0,79,Y,1.0,7
1,2,26.0,F,1,Y,1,62.0,60.0,70,Y,1.0,8
2,3,33.0,F,1,Y,1,66.0,64.0,85,Y,1.0,7
3,4,39.0,F,1,N,0,64.0,63.0,87,Y,1.0,10
4,5,27.0,M,2,N,0,73.0,75.0,72,N,0.0,4

In [6]:
df.shape

(52, 12)

In [7]:
df.describe()

,ID,Age,GenderGroup,GlassesGroup,Height,Wingspan,CWDistance,CompleteGroup,Score
count,52.000000,51.000000,52.000000,52.000000,51.000000,51.000000,52.000000,51.000000,52.000000
mean,26.500000,28.411765,1.500000,0.500000,68.971569,67.313725,85.576923,0.843137,7.173077
std,15.154757,5.755611,0.504878,0.504878,5.303812,5.624021,14.353173,0.367290,2.211566
min,1.000000,22.000000,1.000000,0.000000,61.500000,57.500000,63.000000,0.000000,2.000000
25%,13.750000,25.000000,1.000000,0.000000,64.500000,63.000000,72.000000,1.000000,6.000000
50%,26.500000,27.000000,1.500000,0.500000,69.000000,66.000000,85.000000,1.000000,8.000000
75%,39.250000,30.000000,2.000000,1.000000,73.000000,72.000000,96.500000,1.000000,9.000000
max,52.000000,56.000000,2.000000,1.000000,79.500000,76.000000,115.000000,1.000000,10.000000

In [8]:
vars = ["Age", "Gender", "Glasses", "Height", "Wingspan", "CWDistance", "Complete", "Score"]
df2 = df[vars].dropna()

In [9]:
df2

     Age Gender Glasses  Height  Wingspan  CWDistance Complete  Score
0   56.0      F       Y   62.00      61.0          79        Y      7
1   26.0      F       Y   62.00      60.0          70        Y      8
2   33.0      F       Y   66.00      64.0          85        Y      7
3   39.0      F       N   64.00      63.0          87        Y     10
4   27.0      M       N   73.00      75.0          72        N      4
5   24.0      M       N   75.00      71.0          81        N      3
6   28.0      M       N   75.00      76.0         107        Y     10
7   22.0      F       N   65.00      62.0          98        Y      9
8   29.0      M       Y   74.00      73.0         106        N      5
9   33.0      F       Y   63.00      60.0          65        Y      8
10  30.0      M       Y   69.50      66.0          96        Y      6
11  28.0      F       Y   62.75      58.0          79        Y     10
12  25.0      F       Y   65.00      64.5          92        Y      6
13  23.0      F       N   61.50      57.5          66        Y      4
14  31.0      M       Y   73.00      74.0          72        Y      9
15  26.0      M       Y   71.00      72.0         115        Y      6
16  26.0      F       N   61.50      59.5          90        N     10
17  27.0      M       N   66.00      66.0          74        Y      5
18  23.0      M       Y   70.00      69.0          64        Y      3
19  24.0      F       Y   68.00      66.0          85        Y      8
20  23.0      M       Y   69.00      67.0          66        N      2
21  29.0      M       N   71.00      70.0         101        Y      8
22  25.0      M       N   70.00      68.0          82        Y      4
23  26.0      M       N   69.00      71.0          63        Y      5
24  23.0      F       Y   65.00      63.0          67        N      3
25  28.0      M       N   75.00      76.0         111        Y     10
26  24.0      M       N   78.40      71.0          92        Y      7
27  25.0      M       Y   76.00      73.0         107        Y      8
28  32.0      F       Y   63.00      60.0          75        Y      8
29  38.0      F       Y   61.50      61.0          78        Y      7
30  27.0      F       Y   62.00      60.0          72        Y      8
31  33.0      F       Y   65.30      64.0          91        Y      7
32  38.0      F       N   64.00      63.0          86        Y     10
33  27.0      M       N   77.00      75.0         100        Y      8
34  24.0      F       N   67.80      62.0          98        Y      9
35  27.0      M       N   68.00      66.0          74        Y      5
36  25.0      F       Y   65.00      64.5          92        Y      6
37  26.0      F       N   61.50      59.5          90        Y      9
38  31.0      M       Y   73.00      74.0          72        Y      9
39  30.0      M       Y   69.50      66.0          96        Y      6
40  23.0      F       N   70.40      71.0          66        Y      4
41  26.0      M       Y   73.50      72.0         115        Y      6
42  28.0      F       Y   72.50      72.0          81        Y     10
43  26.0      F       Y   72.00      72.0          92        Y      8
44  30.0      F       Y   66.00      64.0          85        Y      7
45  39.0      F       N   64.00      63.0          87        Y     10
46  27.0      M       N   78.00      75.0          72        N      7
47  24.0      M       N   79.50      75.0          82        N      8
48  28.0      M       N   77.80      76.0          99        Y      9

# Frequency tables

The `value_counts()` method can be used to determine the number of times that each distinct value of a variable occurs in a data set.  In statistical terms, this is the "frequency distribution" of the variable. The `value_counts()` method produces a table with two columns.  The first column contains all distinct observed values for the variable.  The second column contains the number of times each of these values occurs.  Note that the table returned by `value_counts()` is actually a **Pandas** data frame, so can be further processed using any Pandas methods for working with data frames.

In [ ]:
# Number of times that each distinct value of a variable occurs in a data set

In [ ]:
# Proportion of each distinct value of a variable occurs in a data set

Note that the `value_counts()` method excludes missing values. We confirm this below by adding up observations to your data frame with some missing values and then computing `value_counts()` and comparing this to the total number of rows in the data set, which is 28. This tells us that there are 28 - (21+6) = 1 missing values for this variable (other variables may have different numbers of missing values).

In [ ]:
# Total number of observations



# Total number of null observations



# Total number of counts (excluding missing values)

# Histogram

It is often good to get a feel for the shape of the distribution of the data.

In [ ]:
# Plot histogram of the total bill only

In [ ]:
# Plot distribution of the tips only

In [ ]:
# Plot histogram of both the Age and the Wingspan

# Histograms plotted by groups

While looking at a single variable is interesting, it is often useful to see how a variable changes in response to another. Thus, we can create a histograms of one quantitative variable grouped by another categorical variables.

In [ ]:
# Create histograms of the "Wingspan" grouped by "Gender"

# Boxplots

Boxplots do not show the shape of the distribution, but they can give us a better idea about the center and spread of the distribution as well as any potential outliers that may exist. Boxplots and Histograms often complement each other and help an analyst get more information about the data

In [ ]:
# Create the boxplot of the "total bill" amounts

In [ ]:
# Create the boxplot of the "tips" amounts

In [ ]:
# Create the boxplots of the "Wingspan" and of the "Height" amounts

In [ ]:
# Create the boxplots of the "Wingspan" and of the "tips" amounts

# Boxplots plotted by groups

While looking at a single variable is interesting, it is often useful to see how a variable changes in response to another. Thus, we can create a side-by-side boxplots of one quantitative variable grouped by another categorical variables.

In [ ]:
# Create side-by-side boxplots of the "Height" grouped by "Gender"

# Histograms and boxplots plotted by groups

We cal also create both boxplots and histograms of one quantitative variable grouped by another categorical variables

In [ ]:
# Create a boxplot and histogram of the "tips" grouped by "Gender"

# Scatter plot

Plot values of one variable versus another variable to see how they are correlated

In [ ]:
# scatter plot between two variables

In [ ]:
# scatter plot between two variables (one categorical)

In [ ]:
# scatter plot between two variables (one categorical)

In [ ]:
# scatter plot between two variables grouped according to a categorical variable

In [ ]:
# scatter plot between two variables grouped according to a categorical variable and with size of markers

# Final remarks


- Visualizing your data using **tables**, **histograms**, **boxplots**, **scatter plots** and other tools is essential to carry put analysis and extract conclusions

- There are several ways to do the same thing

- The **Seaborn** package provides visualisations tools that allow to explore data from a graphical perspective

# Activity: work with the iris dataset

Repeat this tutorial with the iris data set and respond to the following inquiries

1. Plot the histograms for each of the four quantitative variables


2. Plot the histograms for each of the quantitative variables


3. Plot the boxplots for each of the quantitative variables


4. Plot the boxplots of the petal width grouped by type of flower


5. Plot the boxplots of the setal length grouped by type of flower


6. Provide a description (explaination from your observations) of each of the quantitative variables