##**A1 Iris Data load**

  **Nombre:** Ana Karen Valencia Villaseñor

  **Matrícula:** A01067716

  **Fecha:** 10 de septiembre de 2024


## Acknowledgments
- The notebook aims to undertand the content of the iris data set.

- Data from https://www.coursera.org/ from the course "Understanding and Visualizing Data with Python" by University of Michigan

# Iris data set

Activity: work with the iris dataset
Load the iris.csv file in your computer and understand the dataset

- *How many observations (rows) are in total?*

    **R:** 150 rows.

- *How many variables (columns) are in total? What do they represent?*

    **R:** There are 5 colums: sepal lenght, sepal width, petal lenght, petal width and type of flower.

- *How many observations are for each type of flower?*
    **R:** 50 observations.

- *What is the type of data for each variable?*

    **R:** sepal lenght, sepal width, petal lenght, petal width are numerical variables and the type of flower is a categorical variable.

- *What are the units of each variable?*
    
    **R:**

    sepal lenght-> cm

    sepal width -> mm

    petal lenght -> cm

    petal width -> mm

# Importing and inspecting the data

In [1]:
# Define where you are running the code: colab or local
RunInColab          = True     # (False: no  | True: yes)

# If running in colab:
if RunInColab:
    # Mount your google drive in google colab
    from google.colab import drive
    drive.mount('/content/drive')

    # Find location
    #!pwd
    #!ls
    #!ls "/content/drive/My Drive/Colab Notebooks/MachineLearningWithPython/"

    # Define path del proyecto
    Ruta            = "/content/drive/My Drive/TC1002S"

else:
    # Define path del proyecto
    Ruta            = ""

Mounted at /content/drive

In [2]:
# Import the packages that we will be using
import pandas as pd

# Dataset url
url = "/datasets/iris/iris.csv"

# Load the dataset
df= pd.read_csv(Ruta + url)

In [15]:
# Print the dataset
print(df)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [4]:
df.shape

(150, 5)

In [6]:
# Print the number of rows
Nrows = df.shape[0]

print("El dataset tiene " + str(Nrows) + " filas")

El dataset tiene 150 filas

In [7]:
# Print the number of columns
Ncols = df.shape[1]

print("El dataset tiene " + str(Ncols) + " variables")

El dataset tiene 5 variables

# Data types

In [8]:
df.dtypes

sepal.length    float64
sepal.width     float64
petal.length    float64
petal.width     float64
variety          object
dtype: object