#Proposito
En este notebook buscamos leer datos de un CSV con el proposito de interpretarlos

In [2]:
#Definicion de datos
#rutadatos = TBD

In [3]:
#importamos los datos
import pandas as pd

In [4]:
# Montar el drive
# Import the library to mount Google Drive
from google.colab import drive

# Mount the Google Drive at /content/drive
drive.mount('/content/drive')

Mounted at /content/drive

In [17]:
path = "drive/MyDrive/Portafolio de Evidencias/SemanaTecAnalisisComputacional/TC1002S/NotebooksProfessor/cartwheel/cartwheel.csv"

In [18]:
# Read the CSV file into a pandas DataFrame
df = pd.read_csv(path)

In [20]:
# Display the first few rows of the DataFrame
print(df.head())

   ID   Age Gender  GenderGroup Glasses  GlassesGroup  Height  Wingspan  \
0   1  56.0      F            1       Y             1    62.0      61.0
1   2  26.0      F            1       Y             1    62.0      60.0
2   3  33.0      F            1       Y             1    66.0      64.0
3   4  39.0      F            1       N             0    64.0      63.0
4   5  27.0      M            2       N             0    73.0      75.0

   CWDistance Complete  CompleteGroup  Score
0          79        Y            1.0      7
1          70        Y            1.0      8
2          85        Y            1.0      7
3          87        Y            1.0     10
4          72        N            0.0      4

In [22]:
df.Age

0     56.0
1     26.0
2     33.0
3     39.0
4     27.0
5     24.0
6     28.0
7     22.0
8     29.0
9     33.0
10    30.0
11    28.0
12    25.0
13    23.0
14    31.0
15    26.0
16    26.0
17    27.0
18    23.0
19    24.0
20    23.0
21    29.0
22    25.0
23    26.0
24    23.0
25    28.0
26    24.0
27    25.0
28    32.0
29    38.0
30    27.0
31    33.0
32    38.0
33    27.0
34    24.0
35    27.0
36    25.0
37    26.0
38    31.0
39    30.0
40    23.0
41    26.0
42    28.0
43    26.0
44    30.0
45    39.0
46    27.0
47    24.0
48    28.0
49    30.0
50     NaN
51    27.0
Name: Age, dtype: float64

In [25]:
#Nuevo dataframe con algunas columnas
df.columns
df2 = df[["Age", "Height", "Wingspan", "CWDistance"]]

In [27]:
print(df2.head())

    Age  Height  Wingspan  CWDistance
0  56.0    62.0      61.0          79
1  26.0    62.0      60.0          70
2  33.0    66.0      64.0          85
3  39.0    64.0      63.0          87
4  27.0    73.0      75.0          72

In [29]:
print(df2.tail(3))

     Age  Height  Wingspan  CWDistance
49  30.0    74.6       NaN          71
50   NaN    71.0      70.0         101
51  27.0     NaN      71.5         103

In [37]:
print(df2["Age"].mean())
print(df2["Height"].mean())

print(df2["Age"].median())
print(df2["Height"].median())

df2.describe()

28.41176470588235
68.97156862745098
27.0
69.0

             Age     Height   Wingspan  CWDistance
count  51.000000  51.000000  51.000000   52.000000
mean   28.411765  68.971569  67.313725   85.576923
std     5.755611   5.303812   5.624021   14.353173
min    22.000000  61.500000  57.500000   63.000000
25%    25.000000  64.500000  63.000000   72.000000
50%    27.000000  69.000000  66.000000   85.000000
75%    30.000000  73.000000  72.000000   96.500000
max    56.000000  79.500000  76.000000  115.000000

In [38]:
# Agrupar por edad y sacar el promedio de lo demas
print(df2.groupby('Age').mean())

         Height   Wingspan  CWDistance
Age
22.0  65.000000  62.000000   98.000000
23.0  67.180000  65.500000   65.800000
24.0  73.740000  69.000000   87.600000
25.0  69.000000  67.500000   93.250000
26.0  67.214286  66.571429   90.714286
27.0  70.666667  69.785714   81.000000
28.0  72.610000  71.600000   95.400000
29.0  72.500000  71.500000  103.500000
30.0  69.900000  65.333333   87.000000
31.0  73.000000  74.000000   72.000000
32.0  63.000000  60.000000   75.000000
33.0  64.766667  62.666667   80.333333
38.0  62.750000  62.000000   82.000000
39.0  64.000000  63.000000   87.000000
56.0  62.000000  61.000000   79.000000